{% extends "layout.html.twig" %}

{% block title %}Formulaire categorie {% endblock %}

{% block content %}

<div class ="container">

    <h2>formulaire : </h2>
    
    {{form(formCategorie)}}

</div>



{% endblock %}