{% extends 'layout.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block content %}


<div class="container mt-5">
    <h1>Contactez nous</h1>
    
    
        {{form(formulaire)}}

 </div>

    
{% endblock %}
