{% extends "layout.html.twig" %}

{% block title %}Poster un commentaire{% endblock %}

{% block content %}
<h1 class='text-center'>Mettre un commentaire </h1>

    {{ form(formCommentaire) }}


{% endblock %}
