{% extends "layout.html.twig" %}

{% block title %}Mon Profil{% endblock %}

{% block content %}

    <div class="container">
    <h1 class="mt-4">Modification photo de profil</h1>

    {{form(form)}}
    </div>

{% endblock %}
